* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Lobster|Roboto&display=swap');


/*google font */


/*
    font-family: 'Lobster', cursive;
    font-family: 'Roboto', sans-serif;
*/

/* Coolors Exported Palette - coolors.co/247ba0-70c1b3-b2dbbf-f3ffbd-ff1654 */

/* HSL */
/*
$color1: hsla(198%, 63%, 38%, 1);
$color2: hsla(170%, 40%, 60%, 1);
$color3: hsla(139%, 36%, 78%, 1);
$color4: hsla(71%, 100%, 87%, 1);
$color5: hsla(344%, 100%, 54%, 1);
*/

/* RGB */
/*
$color1: rgba(36, 123, 160, 1);
$color2: rgba(112, 193, 179, 1);
$color3: rgba(178, 219, 191, 1);
$color4: rgba(243, 255, 189, 1);
$color5: rgba(255, 22, 84, 1);
*/



body {
    background-color: #f3ffbd;

}




header {
    display: flex;
    background-color: rgba(36, 123, 160, .40);
    justify-content: flex-start;
    font-family: 'Lobster', cursive;
    font-size: 30px;
}

h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

a {
    color: rgba(243, 255, 189, 1);
}

ul > li {
    list-style: none;
    display: inline-block;
    background: rgba(36, 123, 160, .50);
    padding: 10px 10px;
    /*    margin-left:20px; */
    margin: auto;
    border-radius: 50%;
    box-shadow: 2px 2px .5px 0px rgba(36, 123, 160, .25);
    text-shadow: 4px 4px 1px rgba(36, 123, 160, .25);

}

a:hover {
    text-decoration: none;
    color: rgba(243, 255, 189, .75);
}

ul>li:hover{
    background: rgba(36, 123, 160, .35);
}

header > div:nth-child(3) {

    margin-left: auto;
}

a[href*="index.html"] {
    margin-left: auto;
}

a[href*="about.html"] {
    margin-right: auto;
}


/*this helps me layout the pagess*/

/*
div {
    border: 5px dashed black;
}
*/

/*
.image {
    background-image: url("images/art/magritte.jpg");
    background-size: cover;
}
*/

form > label {
    display: flex;

}

footer div {
    background-color: rgba(36, 123, 160, .5);
}

/* my classes*/
.conabout {
    padding: 5px;
    /*   margin:20px;*/
    border-style: dashed;

}

.fltr{
    float:right;
}

.fltl{
    float:left;
}

