* {
    box-sizing: border-box;
     
   
}

header {
    display: flex;
   
}

h1 {
    text-align: center;
}

ul > li {
 list-style: none;
    display: inline-block;
    background-color: antiquewhite;
/*    padding: 2px;*/
    
}

header > div:nth-child(3) {

    margin-left: auto;
}



div {
    border: 5px dotted red;
}

/*
.image {
    background-image: url("images/art/magritte.jpg");
    background-size: cover;
}
*/

form > label {
    display: flex;
    
}
